{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "camelcase": "warn",
    "semi": "error",
    "require-jsdoc": "off",
    "react/react-in-jsx-scope": "off",
    "eqeqeq": "warn",
    "no-else-return": "warn"
  }
}
